body{
background-image:url("images/BG.jpg");
width:5%;
height:20%;
overflow-x:hidden;
}



header
		{
		top:10%;
		left:0%;
		width:100%;
		height:40%;
		position:absolute;
		text-align: Bottom;
		color: #ffffff;
		font-family:verdana;
		
		}
		
		#Title
		{		
			top: 05%;
			left: 38%;
			width: 35%;
			height: 80%;
			position: absolute;	
			background:'transparent';
			z-index:10;
			-moz-transition: left 1s ease-in-out;
			-webkit-transition: left 1s ease-in-out;
			transition: left 1s ease-in-out;
			font-family:Verdana;
			font-size: 30px;
			color:#000000;
			text-align:center-left;
			
			
			
		}
		
		#Content
		{
			top: 25%;
			left: 0%;
			width:50%;
			height: 70%;
			text-align:center;
			z-index: 10;
			color:#FFFFFF;
			float:left;
			overflow:none;
			
			
			
		}
		
		#Content h1{
		color:#ffffff;
		font-size: 56px;
		text-align:center;
		}

		#Main{
			top: 9%;
			left: 18%;
			width:64%;
			height: 71%;
			position: absolute;
			text-align: center;
			z-index: 10;
			color:#FFFFFF;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 20px;
			text-shadow: 2px 2px #000000;
		}
		#Fontt{
		font-size: 20px
		}
		
		
	#Footer
		{
		position:fixed;
		height:7%;
		bottom:0;
		left:0%;
		width:100%;
		border-top:1px solid #0066cc;
		background:#000000;
		z-index:90;
		color:#FFFFFF;
		text-decoration:none;
		text-align: left;
		vertical-align: middle;
		padding-top:5px;
		font-family:verdana;
		}


		#menu {
			top:0%;
			left:0%;
			width:100%;
			position:absolute;
			background:#302B2B;
			border-bottom: 1px solid #0066cc;
			z-index:100;
		}
		
		#menu ul {
		list-style: none;
		float: left;
		}
		
	#menu ul ul {
	display: none;
}

	#menu ul li:hover > ul {
		display: block;
		
	}
	
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
	
#menu ul {
			padding-left: 0%;
			margin-left: 10%;
			
		}

		#menu li {
			position: relative;
			z-index: 9;
			margin-top: 2px;
			padding: 0 0px 0 0;
			display: block;
			float: left;
		}
		#menu a{
		text-decoration:none;
		color:white;
		font-family:Copperplate, "Copperplate Gothic Light", fantasy;
		margin-right:50px;
		float: down;
		}
		
		#menu a:hover{
				
		color:#0066cc;
	
		-webkit-border-radius: 1em 1em 1em 1em;
		-moz-border-radius: 1em 1em 1em 1em;
		border-radius: 1em 1em 1em 1em;
		}
		
				

		#SideMenu {
			top:25%;
			left:0%;
			width:18%;
			position:Absolute;
			background:#554E4D;
			border-bottom: 1px solid #0066cc;
			z-index:100;
		}
		
		#SideMenu ul {
		list-style: none;
		float: left;
		}
		#SideMenu ul {
			padding-left: 20%;
		}

		#SideMenu li {
			position: relative;
			z-index: 9;
			margin-top: 2px;
			padding: 0 0px 0 0;
			display: block;
			float: left;
		}
		#SideMenu a{
		text-decoration:none;
		color:white;
		font-family:Verdana;
		margin-right:40px;

		}
	
	
	/*E-Business */
	/*Salesforce Details button */
#Salesforce {
	position: absolute;
	bottom:0%;
	right:70%;
	height:87%;
	width: 30%;
	background-image: url('images/snowboard.jpg'); 
	color: #ECD0A1;
	text-align:center;
	font-family:Verdana;
	font-size: 2em;
	border-bottom: 2px solid #DC3B3A;
	border-top: 2px solid #DC3B3A;
	border-left: 2px solid #DC3B3A;
	border-right: 2px solid #DC3B3A;
	border-radius: 50%;
    behavior: url(PIE.htc);	
	width: 250px;
    height: 250px;  
	}
	
#Salesforce a {
	text-decoration: none;
	color:rgba(0,0,0,0.5);
	margin-right: 25px;
	
	}

#Salesforce:hover {
	background:#DC3B3A;
	border-bottom: 2px solid #706a67;
	border-top: 2px solid #706a67;
	border-left: 2px solid #706a67;
	border-right: 2px solid #706a67;
	}
	
/*Amazon Web Services details button*/

#AWS {
	position: absolute;
	bottom:0%;
	right:35%;
	background-image: url('images/airplane.jpg') ;
	color: #ECD0A1;
	text-align:center;
	font-family:Verdana;
	font-size: 2em;
	border-bottom: 2px solid #DC3B3A;
	border-top: 2px solid #DC3B3A;
	border-left: 2px solid #DC3B3A;
	border-right: 2px solid #DC3B3A;
	border-radius: 50%;	
	width: 250px;
    height: 250px;
	}
	
#AWS a {
	text-decoration: none;
	color:rgba(0,0,0,0.5);
	margin-right: 25px;
	}

#AWS:hover {
	background:#DC3B3A;
	border-bottom: 2px solid #706a67;
	border-top: 2px solid #706a67;
	border-left: 2px solid #706a67;
	border-right: 2px solid #706a67;
	}

	/*Gmail button*/
#OtherInterests {
	position: absolute;
	bottom:0%;
	right:0%;
	background-image: url('images/gym.jpg') ;
	color: #ECD0A1;
	text-align:center;
	font-family:Verdana;
	font-size: 2em;
	border-bottom: 2px solid #DC3B3A;
	border-top: 2px solid #DC3B3A;
	border-left: 2px solid #DC3B3A;
	border-right: 2px solid #DC3B3A;
	border-radius: 50%;
	width: 250px;
    height: 250px;; 
	}
	
#Gmail a {
	text-decoration: none;
	color:rgba(0,0,0,0.5)/*#ECD0A1*/;
	margin-right: 25px;
	}

#Gmail:hover {
	background:#DC3B3A;
	border-bottom: 2px solid #706a67;
	border-top: 2px solid #706a67;
	border-left: 2px solid #706a67;
	border-right: 2px solid #706a67;
	}


